@media only screen and (min-width:1072px) and (max-width:1366px) {
    .laser-title h2 {
        padding-left: 0.2em;
    }
    .laser-title {
        margin: 3.4em 0 0 3.4em;
    }
    .technologi-pos {
        display: flex;
        justify-content: space-between;
        margin: 4.3em 4.3em 6em 4.3em;
    }
    .pos-photo {
        display: flex;
        justify-content: space-around;
        margin: 2em;
    }
    .detailed-pos {
        display: flex;
        margin: 2em;
    }
    .det-pos, .fun-pos {
        width: 100%;
        margin: 2.3em;
    }
    .laser-photo a {
        margin-bottom: 1.5em;
    }
    .laser-photo {
        margin: 2em;
        display: flex;
    flex-direction: column;
    align-items: end;
    }
    
    .laserpremium {
    display: flex;
    margin: 3.4em;  
}
.opis p {
    line-height: 180%;
    width: 34em;
}
}