.progress-css{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-css .color-css{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-css 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
 
}
@keyframes progres-css{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 60%; }
    
}

.progress-html{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-html .color-html{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-html 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-html{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 60%; }
}

.progress-php{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-php .color-php{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-php 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-php{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 40%; }
}

.progress-js{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-js .color-js{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-js 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-js{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 20%; }
}

.progress-rn{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-rn .color-rn{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-rn 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-rn{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 20%; }
}

.progress-wp{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-wp .color-wp{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-wp 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-wp{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 80%; }
}

.progress-git{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-git .color-git{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-git 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-git{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 40%; }
}

.progress-gh{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-gh .color-gh{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-gh 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-gh{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 40%; }
}

.progress-lx{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-lx .color-lx{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-lx 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-lx{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 60%; }
}
.progress-cpt{
    position: relative;
    height: 16px;
    width: 40%;
    border: 3px solid #1b1835;
    margin: 2em 2em 2em 4.2em;
}
.progress-cpt .color-cpt{
    position: absolute;
    background-color: #1b1835;
    width: 0px;
    height: 16px;
    animation: progres-cpt 4s; 
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes progres-cpt{
    0% {width: 0%; }
    25% {width: 0%; }
    50% {width: 0%; }
    100% {width: 60%; }
}
@media only screen and (min-width:300px) and (max-width:1072px) {
.progress-css{
    margin: 2.5em 2em 2.5em 4.2em;
}
.progress-html {
    margin: 3.2em 2em 2.5em 4.2em;
}
.progress-php {
    margin: 3em 2em 2em 4.2em;
}
.progress-js {
    margin: 3.2em 2em 2em 4.2em;  
}
.progress-rn {
    margin: 4em 2em 2em 4.2em;  
}
.progress-wp {
    margin: 4.7em 2em 2em 4.2em;
}
.progress-git {
    margin: 3em 2em 2em 4.2em;
}
.progress-gh {
    margin: 3.2em 2em 2em 4.2em;
}
.progress-lx {
    margin: 3em 2em 2em 4.2em;
}
.progress-cpt {
    margin: 5.6em 2em 2em 4.2em;
}
}