h1 {
    font-family: 'Comfortaa', bold;
    font-size: 61px;
}
h2{
    font-size: 48px;
    font-family: 'Comfortaa', bold;
}
h3 {
    font-size: 39px;
    line-height: 180%;
    font-family: 'Comfortaa', regular ;
}
h5 {
    font-size: 22px;
    font-family: 'Comfortaa', regular ;
    line-height: 180% !important;
}
h6{
    font-size: 19px;
}
p{
    font-size: 16px;
    font-family: 'Comfortaa', regular ;
}
/* Header */
header {
    background: #1b1835;
    height: 60px;
}
nav {
    padding-top: 21px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
}
li a{
    font-family: 'Comfortaa';
    color: #EDD66B;
    text-decoration: none;
    margin: 2em;
    font-weight: 700;
}
.about_me h1 {
    color:#EDD66B;
}
.name_marg h3{
    color:#FFFFFF;
}
.name_marg h5 {
    color:#FFFFFF;
}
.about_me h5 {
    color:#FFFFFF;
}
/*@media only screen and (min-width:1072px) and (max-width:1990px) {}*/
.hero {
    background: #1b1835;
    display: flex;
    flex-direction: row;
    padding-top: 105px;
    padding-bottom: 6em;
}

.about_me {
    margin-left: 9em;
}
.name_marg {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name_marg p {
    padding-right: 0.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    background: #EDD66B;
    color: #1b1835;
}
/* Testowa animacja
.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
*/
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mobile-slider {
      display: none;
  }
  .skills {
    padding-bottom: 3.5em;
  }
  .skills-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 3.4em;
  }
 .skills-title h3{
    color: #1b1835;
 }
 .skills-title p{
     background: #1b1835;
     color: #EDD66B;
     margin-top: 0.5em;
     padding-right: 0.3em;
     padding-top: 0.4em;
     padding-bottom: 0.4em;
     padding-left: 0.3em;
 }
 .name-skills li{
     margin: 2em;
 }
 .name-skills li h5 {
     color:#000000;
     line-height: 100%;
 }
 .table-skills {
    display: flex;
    flex-direction: row;
    justify-content: right;
 }
 .level-skills {
    width: 65%;
 }
 .name-skills {
    width: 25%;
 }
 .arrow {
    background: #1b1835;
    text-align: center;
    padding-bottom: 2em;
 }

 .certsec {
    background: #EDD66B;
 }
 .certsec h3 {
     color:#1b1835;
     padding: 3.4em;
 }
 .certyfikaty {
    display: flex;
    justify-content: space-around;
 }

 .wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
.projecty h3{
    margin:3.4em;
}
footer {
    background: #1B1835;
    padding-bottom: 5em;
}
.contact h5 {
    color:#EDD66B;
    padding-left:3.4em;
    padding-top: 1.4em;
    padding-bottom: 2em;
}
.con a {
    text-decoration: none;
}
.contact {
    display: flex;
}
.kontakt {
    margin-top: 2em;
}
.con {
    display: flex;
align-items: center;
margin-bottom: 2em;
}
.contact-with-me {
    margin-left: 4.8em;
}


.repos {
    margin-left: 10%;
margin-top: 2em;
padding-bottom: 2em;
border-left: 3px solid #EDD66B;
}
.opis p {
    line-height: 180%;
}
@media only screen and (min-width:1072px) and (max-width:1990px) {
    .laser-title h2 {
        padding-left: 0.2em;
    }
    .laser-title {
        margin: 3.4em 0 0 3.4em;
    }
    .technologi-pos {
        display: flex;
        justify-content: space-between;
        margin: 4.3em;
    }
    .pos-photo {
        display: flex;
        justify-content: space-around;
        margin: 2em;
    }
    .detailed-pos {
        display: flex;
        margin: 2em;
    }
    .det-pos, .fun-pos {
        width: 100%;
        margin: 2.3em;
    }
    .laser-photo {
        margin: 2em;
        display: flex;
    flex-direction: column;
    align-items: end;
    }
    .laser-title span {
        background: #EDD66B;
    position: absolute;
    z-index: -1;
    height: 4%;
    width: 30%;
    top: 22%;
    }
    .laserpremium {
    display: flex;
    margin: 3.4em;  
}
.opis p {
    line-height: 180%;
    width: 34em;
}
}

.opis h5, .detailed h5, .opis p{
    margin-bottom: 1em;
}

.detailed li {
    margin-bottom: 1em;
    font-family: 'Comfortaa', regular ;
}
.technologi-pos li {
    margin-bottom: 1em;
    font-family: 'Comfortaa', regular ;
}
.technologi-pos img {
    margin-right: 0.4em;
}
.detailed img {
    margin-right: 0.4em;
}
.detailed ul {
    margin-bottom: 2em;
}
.link-laser {
    display: flex;
justify-content: space-between;
margin-bottom: 2em;
}

.laser-photo a, .link-laser a{
    padding: 0.4em 1em 0.4em 1em;
background: #1B1835;
color: #EDD66B;
text-decoration: none;
font-family: 'Comfortaa', regular ;
}


.det-pos p {
    line-height:180%;
}
.fun-pos p {
    line-height:180%;
}

.pos-photo p {
    background: #1B1835;
color: #EDD66B;
width: 35%;
padding: 0.4em 1em 0.4em 1em;
margin-bottom: 1em;
}
.technologi-pos h5 {
    margin-bottom: 1em;
}
@media only screen and (min-width:300px) and (max-width:1072px) {
    .pc {
        display: none;
    }
    .mobile-slider {
        display: flex;
margin: 2em;
    }
    .mobile-button {
        background: #EDD66B;
    border: 0;
    }
    .hero {
        background: #1b1835;
        padding-top: 6.5em;
        padding-bottom: 6em; 
        }
    .about_me {
        margin-left: 2em;
        margin-right: 2em;
        }
    .name_marg {
        margin-top: 2.6em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 2.7em;
        }
    #projects img {
        width: 70% !important; 
    }
    .certsec h3 {
        padding: 1em 0 1em 1.3em;
    }
    .name-skills {
        width: 31%;
    }
    .projecty h3 {
        margin: 2em 0 1em 1.3em;
    }
    .nav-menu li a {
        margin: 1em;
    }
    .laser-title {
        margin: 2em;
    }
    .detailed{
        margin: 2em;
    }
    .link-laser {
        display: block;
        margin-bottom: 2em;
        
    }
    .link-laser a,p {
        margin: 1em;
    }
    .laser-photo {
        margin: 4em 2em 2em 2em;
        text-align: right;
    }
    .laser-photo img {
        width: 100% !important;
        margin-top: 2em;
    }
    .laser-photo a{
        margin: 1em;
    }
    .det-pos, .fun-pos {
        margin: 2em;
    }
    .det-pos h5, .fun-pos h5 {
        margin-left: 0.8em;
    }
    .technologi-pos {
        margin: 2.8em;
    }
    .technologi-pos div {
        margin-bottom: 2em;
    }
    .pos-photo {
        margin: 2em;
    }
    .opis p {
        margin: 0;
    }
    .opis h5 {
        margin-top: 1em;
    }
}