h1 {
    font-family: 'Comfortaa', bold;
    font-size: 61px;
}
h2{
    font-size: 48px;
    font-family: 'Comfortaa', bold;
}
h3 {
    font-size: 39px;
    line-height: 180%;
    font-family: 'Comfortaa', regular ;
}
h5 {
    font-size: 22px;
    font-family: 'Comfortaa', regular ;
    line-height: 180% !important;
}
h6{
    font-size: 19px;
}
p{
    font-size: 16px;
    font-family: 'Comfortaa', regular ;
}
/* Header */
header {
    background: #1b1835;
    height: 60px;
}
nav {
    padding-top: 21px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
}
li a{
    font-family: 'Comfortaa';
    color: #EDD66B;
    text-decoration: none;
    margin: 2em;
    font-weight: 700;
}
.about_me h1 {
    color:#EDD66B;
}
.name_marg h3{
    color:#FFFFFF;
}
.name_marg h5 {
    color:#FFFFFF;
}
.about_me h5 {
    color:#FFFFFF;
}

.mobile {
    display: none;
}
.hero {
    background: #1b1835;
    display: flex;
    flex-direction: row;
    padding-top: 105px;
    padding-bottom: 6em;
    justify-content: space-around;
}

.name_marg {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name_marg p {
    padding-right: 0.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    background: #EDD66B;
    color: #1b1835;
}
 


.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mobile-slider {
      display: none;
  }
  .skills {
    padding-bottom: 3.5em;
  }
  .skills-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 3.4em;
  }
 .skills-title h3{
    color: #1b1835;
 }
 .skills-title p{
     background: #1b1835;
     color: #EDD66B;
     margin-top: 0.5em;
     padding-right: 0.3em;
     padding-top: 0.4em;
     padding-bottom: 0.4em;
     padding-left: 0.3em;
 }
 .laser-title span {
    background: #EDD66B;
    z-index: -1;
    height: 8%;
    position: absolute;
    display: flex;
    align-items: end;
}
 .name-skills li{
     margin: 2em;
 }
 .name-skills li h5 {
     color:#000000;
     line-height: 100%;
 }
 .table-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .level-skills {
    width: 65%;
 }
 .name-skills {
    width: 25%;
 }
 .arrow {
    background: #1b1835;
    text-align: center;
    padding-bottom: 2em;
 }

 .certsec {
    background: #EDD66B;
 }
 .certsec h3 {
     color:#1b1835;
     padding: 2em 0 1em 1.4em;
 }
 .certyfikaty {
    display: flex;
    justify-content: space-around;
 }

 .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.projecty h3{
    margin: 2em 0 1em 1.4em;
}
footer {
    background: #1B1835;
    padding-bottom: 2em;
}
.contact h5 {
    color:#EDD66B;
    padding-left: 3.4em;
padding-top: 2em;
padding-bottom: 1em;
}
.con a {
    text-decoration: none;
}
.contact {
    display: flex;
}
.kontakt {
    margin-top: 2em;
}
.con {
    display: flex;
align-items: center;
margin-bottom: 1.25em;
}
.contact-with-me {
    margin-left: 4.8em;
}

header {
    padding-bottom: 1em;
}
.repos {
    margin-left: 10%;
    margin-top: 2.25em;

border-left: 3px solid #EDD66B;
}
.opis p {
    line-height: 180%;
}

.opis p {
    margin-bottom: 2em;
}
.opis h5, .detailed h5{
    margin-bottom: 1em;
}

.detailed li {
    margin-bottom: 1em;
    font-family: 'Comfortaa', regular ;
}
.technologi-pos li {
    margin-bottom: 1em;
    font-family: 'Comfortaa', regular ;
}
.technologi-pos img {
    margin-right: 0.4em;
}
.detailed img {
    margin-right: 0.4em;
}
.detailed ul {
    margin-bottom: 2em;
}
.link-laser {
margin-bottom: 2em;
}

.laser-photo a, .link-laser a{
    padding: 0.4em 1em 0.4em 1em;
background: #1B1835;
color: #EDD66B;
text-decoration: none;
font-family: 'Comfortaa', regular ;
}


.det-pos p {
    line-height:180%;
}
.fun-pos p {
    line-height:180%;
}

.pos-photo p {
    background: #1B1835;
color: #EDD66B;
width: 35%;
padding: 0.4em 1em 0.4em 1em;
margin-bottom: 1.5em;
}
.technologi-pos h5 {
    margin-bottom: 1em;
}
.contact a {
    font-family: 'Comfortaa', regular;
}