h1 {
    font-family: 'Comfortaa', bold;
    color: #EDD66B;
    font-size: 61px;
}
h3 {
    font-size: 39px;
    color: #fff;
    font-family: 'Comfortaa', regular ;
}
h5 {
    font-size: 22px;
    color:#fff;
    font-family: 'Comfortaa', regular ;
    line-height: 180%;
}
h6{
    font-size: 19px;
}
p{
    font-size: 16px;
    color:#fff;
    font-family: 'Comfortaa', regular ;
}
header {
    background: #1b1835;
    height: 60px;
}
nav {
    padding-top: 21px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
}
li a{
    font-family: 'Comfortaa';
    color: #EDD66B;
    text-decoration: none;
    margin: 2em;
    font-weight: 700;
}
.hero {
    background: #1b1835;
    display: flex;
    flex-direction: row;
    padding-top: 105px;
    padding-bottom: 6em;
}
.about_me {
    margin-left: 145px;
}
.name_marg {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name_marg p {
    padding-right: 0.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    background: #EDD66B;
    color: #1b1835;
}
.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 32ch;
    animation: typing 2s steps(32), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  .skills {
    padding-bottom: 3.5em;
  }
  .skills-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 3.4em;
  }
 .skills-title h3{
    color: #1b1835;
 }
 .skills-title p{
     background: #1b1835;
     color: #EDD66B;
     margin-top: 0.5em;
     padding-right: 0.3em;
     padding-top: 0.4em;
     padding-bottom: 0.4em;
     padding-left: 0.3em;
 }
 .name-skills li{
     margin: 2em;
 }
 .name-skills li h5 {
     color:#000000;
     line-height: 100%;
 }
 .table-skills {
    display: flex;
    flex-direction: row;
    justify-content: right;
 }
 .level-skills {
    width: 65%;
 }
 .name-skills {
    width: 25%;
 }
 .arrow {
    background: #1b1835;
    text-align: center;
    padding-bottom: 2em;
 }

 .certsec {
    background: #EDD66B;
 }
 .certsec h3 {
     color:#1b1835;
     padding: 3.4em;
 }
 .certyfikaty {
    display: flex;
    justify-content: space-around;
 }